.header{ width: 100%; background-color: #2fff40; padding: 10px; margin-bottom: 10px;}

/*.navAlignLeft {float: left;}*/

/*.navAlignRight {float: right;}*/

.column1 { float: left; width: 24%; margin-left: 25%; background-color: #dcfffd} /* 3 cols */
.column2 { float: right; width: 24%; margin-right: 25%; background-color: #dcfffd;} /* 3 cols */

/*.row::after { clear: both; display: table; content: ""; } !* 'clearfix' *!*/

@media (max-width: 600px) {
    .column1 { float: left; width: 100%; margin: 2px;} /* 3 cols */
    .column2 { float: left; width: 100%; margin: 2px;} /* 3 cols */
}